* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    min-width: 32rem;
}
.masthead-wrapper{
    
    background-color:var(--bg-color);
    background-image: url(./img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
header{
    text-align: center;
    padding-top: 2rem;
}
.button{
    margin-bottom: 11.4rem;
}
.input{
    padding: 1rem 1.7rem;
    border: 0;
    border-radius: 2rem;
    background-color: transparent;
    font-family: var(--main-font-bold);
    font-size: 1.4rem;
    color: var(--main-font-color);
    border: 0.2rem solid transparent;
}
.input:hover{
    border-color: #ffffff;
    cursor: pointer;
}
.logo{
    margin-bottom: 4rem;
}
.logo-link{
    text-decoration: none;
    font-family: var(--main-font-bold);
    font-size: 2rem;
    color: var(--main-font-color);
}
.content-header{
    font-family: var(--main-font-bold);
    font-size: 2.8rem;
    color: var(--main-font-color);
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.content-text{
    font-family: var(--main-font);
    font-size: 1.8rem;
    color: var(--main-font-color);
    margin-bottom: 3.2rem;
}
.content-bt-link{
    font-family: var(--main-font-bold);
    font-size: 1.4rem;
    color: var(--main-font-color);
    text-decoration: none;
    padding: 1.2rem 4.6rem;
    background-color: #ff4e50;
    border-radius: 2rem;
}
.content-bt{
    padding-bottom: 13.8rem;
}
.content-partners{
    margin-top: 7rem;
}
.span, .span-header{
    display: block;
}
.partners-main{
    color: var(--per-font-color);
}
.partners{
    list-style: none;
    margin: 0 auto;
    width: 22.8rem;
 
}

.partners-header{
    text-align: center;
    font-family: var(--main-font-bold);
    font-size: 2.1rem;
}
.partners li{
    text-align: center;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.partner-name{
    font-family: var(--main-font-bold);
    font-size: 1.4rem;
    margin-top: 2rem;
}
.partner-content{
    font-family: var(--main-font);
    font-size: 1.4rem;
    color:#666666;
    margin-top: 1.5rem;
}
.bradley{
    
}
.img::before {
    position: absolute;
    left: 13.5rem;
    top: 8.6rem;
    display: block;
    content: '';
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    border: 4px solid;
    border-radius: 50%;
}
.hb::before{
  
    background-color: #ff4e50;
    background-image: url(./img/shape1.png);
}
.lm::before{

 
    background-color: #ffa507;
    background-image: url(./img/shape2.png);
}
.hw::before{

 
    background-color: #1cd7ad;
    background-image: url(./img/shape3.png);
}
.bh::before{

    background-color: #4e73db;
    background-image: url(./img/shape4.png);
}
.partners-bn{
    display: block;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5.7rem;
}
.other-partners{
    padding: 1.3rem 7.3rem;
    font-family: var(--main-font-bold);
    font-size: 1.4rem;
    color: #ff4e50;
    text-decoration: none;
    background-color: transparent;
    border: 0.2rem solid #ff4e50;
    border-radius: 2.5rem;
}
@media(min-width:768px){
    .button{
        order: 2;
    }
    .logo{
        order: 1;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        padding: 0 5rem;
    }
    .partners li{
        width: 23.5rem;
    }
    .partners{
        display: flex;
        width: 49.2rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .span{
        display: inline;
    }
    .bradley{
        order:1;
    }
    .lucas{
        order: 3;
    }
    .heather{
        order: 2;
    }
    .hunter{
        order: 4;
    }
}
@media(min-width:1170px){
    .header{
        width: 940px;
        margin: 0 auto;
    }
    .content-bt{
        padding-bottom: 23.4rem;
    }
    .content-header{
        font-size: 5.2rem;
        margin-bottom: 4.2rem;
    }
    .header{
        padding-top: 3.8rem;
    }
    .button{
        margin-bottom: 15rem;
    }
    .content-text{
        margin-bottom: 4.2rem;
    }
    .partners{
        width: 94.2rem;
        margin-top: 3.4rem;
    }
    .partners li{
        width: 22rem;
    }
}
