:root{
    --main-font: "RobotoLight", serif, sans-serif;
    --main-font-bold: "MoserratBold", serif, sans-serif;
    --main-font-color: #ffffff;
    --per-font-color:#333333;
    --bg-color:#1a1915;

    font-size: 62.5%;
}