body{
    font-family: 'Playfair Display', Arial, serif; 
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}
.font{
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    line-height: 17px;
    margin-bottom: 25px;
    margin-top: 30px;
    text-transform: uppercase;
}
img{
    width: 420px;
    height: 280px;
}
.site-navigation{
    list-style: none;
    margin-bottom: 102px;
    margin-top: 76px;
}
.site-navigation a{
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
}
.site-navigation a:hover{
    color:#03a9f4;
}
.title{
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
}
.content{
    width: 900px;
    margin: 0 auto;
}
.site-navigation li{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.lifestyle a{
    margin-right: 120px;
    margin-left: 162px;
    padding: 0;
}
.photodiary a{
    margin-right: 100px;
}
.music a{
    margin-right: 95px;
}
.container{
    width: 420px;
    display: inline-block;
    text-align: left;
    margin-bottom: 135px;
}
.container:not(:nth-child(2n)) {
    margin-right: 50px;
}

.container h2{
    margin-bottom: 40px;
}
.last{
    margin-bottom: 0;
}
.button{
    min-width: 164px;
    height: 58px;
    background-color: transparent;
    border-color:#626262;
    color:#626262;
    font-size: 20px;
    line-height: 24px;
    margin-left: 358px;
    margin-top: 58px;
}