$main-font-stack: "RobotoRegular", serif, sans-serif;
$per-font-stack: "MonserratBold", serif, sans-serif;
$third-font-stack: "Kaushan", serif, sans-serif;
$fourth-font-stack: "MonserratRegular", serif, sans-serif;
$main-font-color: #ffffff;
$per-font-color: #333333;
$third-font-color: #999999;
$bg-color: #1a1915;
$main-font-size: 14px;